<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="bits-flat-heading" data-cy="FlatCreateUpdateHeading" bitsTranslate="openSocietyApp.flat.home.createOrEditLabel">
        Create or edit a Flat
      </h2>

      <div>
        <bits-alert-error></bits-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" bitsTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" bitsTranslate="openSocietyApp.flat.flatNo" for="field_flatNo">Flat No</label>
          <input type="text" class="form-control" name="flatNo" id="field_flatNo" data-cy="flatNo" formControlName="flatNo" />
          <div *ngIf="editForm.get('flatNo')!.invalid && (editForm.get('flatNo')!.dirty || editForm.get('flatNo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('flatNo')?.errors?.required"
              bitsTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" bitsTranslate="openSocietyApp.flat.residentialStatus" for="field_residentialStatus"
            >Residential Status</label
          >
          <select
            class="form-control"
            name="residentialStatus"
            formControlName="residentialStatus"
            id="field_residentialStatus"
            data-cy="residentialStatus"
          >
            <option [ngValue]="null">{{ 'openSocietyApp.ResidentialStatus.null' | translate }}</option>
            <option *ngFor="let residentialStatus of residentialStatusValues" [value]="residentialStatus">
              {{ 'openSocietyApp.ResidentialStatus.' + residentialStatus | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" bitsTranslate="openSocietyApp.flat.flatArea" for="field_flatArea">Flat Area</label>
          <input type="number" class="form-control" name="flatArea" id="field_flatArea" data-cy="flatArea" formControlName="flatArea" />
        </div>

        <div class="row mb-3">
          <label class="form-label" bitsTranslate="openSocietyApp.flat.flat" for="field_flat">Flat</label>
          <select class="form-control" id="field_flat" data-cy="flat" name="flat" formControlName="flat">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="societyOption.id === editForm.get('flat')!.value?.id ? editForm.get('flat')!.value : societyOption"
              *ngFor="let societyOption of societiesSharedCollection; trackBy: trackSocietyById"
            >
              {{ societyOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span bitsTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span bitsTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
